body {
  font-family: Open-Sans, sans-serif;
  background-color: white;
  color: black;
}

header {
  margin-top: 1em;
  margin-bottom: 1em;
}

header>h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

header>nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header>nav>a {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  color: gray;
}

header>nav>a:hover {
  color: black;
  text-decoration: none;
}

header>nav>a.current {
  color: black;
  font-weight: bold;
  border-bottom: black solid 2px;
}

div.category {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%, 50%;
  height: 240px;
  text-align: center;
  padding: 0;
}

div.category>a {
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
  background: none;
}

div.category>a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

div.category.category-acrylics {
  background-image: url('../assets/acrylics/skyline.jpg');
}

div.category.category-digital-art {
  background-image: url('../assets/digital-art/guerriere-digital-art.png');
}

div.category.category-watercolours {
  background-image: url('../assets/watercolours/fleurs-soeurs-aquarelle.jpg');
}

div.category.category-photographs {
  background-image: url('../assets/photographs/forest-in-the-fall.jpg');
  background-position-y: top;
}

div.category.category-design {
  background-image: url('../assets/design/logo-rose-pivoine.jpg');
}

div.category>a>h2 {
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: 0.3em;
  font-size: 0.8em;
  margin: auto;
  user-select: none;
  display: none;
}

div.category>a:hover>h2 {
  display: inherit;
}

footer {
  margin-top: 2em;
}

footer>p {
  text-align: center;
  color: gray;
  font-size: 0.8em;
}