@keyframes dissolve-almost {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 3%;
    }
}

@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes disappear {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}
