@font-face {
    font-family: "PPAgrandir";
    src: url("/webfonts/PPAgrandir-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

:root {
    --main-font: "PPAgrandir";
}
