@import "_fonts.scss";
@import "_animations.scss";

@-ms-viewport {
    width: device-width;
}

:root {
    --max-width: 1200px;

    --main-color-light: black;
    --secondary-color-light: #999;
    --background-color-light: white;

    --main-color-dark: white;
    --secondary-color-dark: #ccc;
    --background-color-dark: black;

    --header-height: 200px;
    --menu-open-opacity: 10%;

    --thumbnail-width-unit: 350px;
    --thumbnail-height-unit: 250px;
    --thumbnail-gutter: 16px;

    @media screen and (min-width: 641px) and (max-width: 1024px) {
        --thumbnail-width-unit: 200px;
        --thumbnail-height-unit: 120px;
        --thumbnail-gutter: 8px;
    }

    @media screen and (max-width: 640px) {
        --thumbnail-width-unit: 100px;
        --thumbnail-height-unit: 80px;
        --thumbnail-gutter: 4px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    --main-color: var(--main-color-light);
    --secondary-color: var(--secondary-color-light);
    --background-color: var(--background-color-light);

    &.invert:not(.menu-open) {
        --main-color: var(--main-color-dark);
        --secondary-color: var(--secondary-color-dark);
        --background-color: var(--background-color-dark);
    }

    font-family: var(--main-font);
    color: var(--main-color);
    background-color: var(--background-color);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    opacity: 0;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    animation: 2s ease-in-out 0s appear;
    animation-fill-mode: forwards;

    /* General */

    a {
        text-decoration: none;
        outline: none;
        color: inherit;

        &:hover {
            text-decoration: underline;

            i.fab {
                border-bottom: 2px solid var(--main-color);
            }
        }
    }

    /* Menu */

    #menu {
        --main-color: var(--main-color-dark);
        --secondary-color: var(--secondary-color-dark);
        --background-color: var(--background-color-dark);

        display: flex;
        position: fixed;
        text-align: center;
        top: 0;
        right: 0;
        width: 40%;
        height: 100vh;
        text-transform: lowercase;
        z-index: 3;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }

        margin: 0;
        padding: 0;
        color: var(--main-color);
        background-color: var(--background-color);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10vh;

        ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            font-size: 300%;
            margin: 0;
            padding: 0;
        }

        div.social {
            padding: 1rem;
            font-size: 200%;

            a {
                padding-left: 1rem;
            }
        }

        transition: transform 0.2s ease-in-out;
        transform: translate(100%);
    }

    a#menu-toggle {
        position: fixed;
        font-size: 600%;
        z-index: 5;
        top: 0;
        right: 1.5rem;
        height: var(--header-height);
        display: flex;
        align-items: center;
        transition-property: top;
        transition-duration: 0.5s;

        &:hover {
            color: var(--secondary-color);
            text-decoration: none;
        }

        &::after {
            display: inline-block;
            content: "≡";
        }
    }

    &.menu-open {
        #menu {
            transform: translate(0%);
        }
        a#menu-toggle {
            color: var(--main-color-dark);

            &:hover {
                color: var(--secondary-color-dark);
            }

            &::after {
                content: "✖";
            }
        }
    }

    /* Header */

    header {
        position: fixed;
        pointer-events: none;
        z-index: 1;
        top: 0;
        width: 100%;
        height: var(--header-height);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        transition-property: top, color, background-color;
        transition-duration: 0.5s;
        background-color: transparent;

        @media screen and (max-width: 1024px) {
            background-color: var(--background-color);
        }

        h2 {
            pointer-events: auto;
            margin: 0;
            margin-left: 1.5rem;
            font-weight: 350;
            font-size: 220%;
            transition-property: opacity;
            transition-duration: 0.5s;
        }
    }

    &.scroll-down {
        &:not(.menu-open) {
            #menu-toggle {
                @media screen and (max-width: 1024px) {
                    top: calc(-1 * var(--header-height));
                }
            }
        }

        header {
            @media screen and (max-width: 1024px) {
                top: calc(-1 * var(--header-height));
            }
        }
    }

    /* Page */

    div#page {
        margin-top: var(--header-height);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        transition-property: opacity;
        transition-duration: 0.5s;

        div#watermark {
            position: absolute;
            top: var(--header-height);
            width: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - var(--header-height));
            z-index: -1;
            user-select: none;
            text-align: center;
            animation: 2s ease-in-out 2s dissolve-almost;
            animation-fill-mode: forwards;

            h1 {
                margin: auto 0;
                font-size: 1000%;
                font-weight: 350;
                word-break: break-word;

                @media screen and (max-width: 1024px) {
                    font-size: 500%;
                }
            }
        }

        div#categories {
            min-height: calc(100vh - var(--header-height));
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 1024px) {
                display: none;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 0.2rem;
                opacity: 0;
                animation: 2s ease-in-out 3s appear;
                animation-fill-mode: forwards;
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    opacity: 0;
                    animation: 1s ease-in-out 0s appear;
                    animation-fill-mode: forwards;

                    font-size: 500%;
                    font-weight: 400;
                    text-transform: lowercase;
                    margin: 0;

                    @media screen and (max-width: 1024px) {
                        font-size: 300%;
                    }
                }
            }
        }

        div#categories-detail {
            ul {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0 1rem;
                gap: 1rem;
                font-weight: 100;
                font-size: 120%;

                @media screen and (max-width: 1024px) {
                    flex-direction: column;
                }

                li {
                    a {
                        display: inline-block;
                        width: 100%;
                        text-transform: lowercase;
                        text-align: center;

                        &.current {
                            text-decoration: underline;
                            font-weight: bold;
                        }
                    }
                }
            }

            div.thumbnails {
                margin: 2rem auto;

                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }

                .thumbnails-sizer,
                .thumbnail {
                    --width-unit: var(--thumbnail-width-unit);
                    --height-unit: var(--thumbnail-height-unit);

                    &.thumbnail-w2 {
                        --width-unit: calc(2 * var(--thumbnail-width-unit) + var(--thumbnail-gutter));
                    }

                    &.thumbnail-h2 {
                        --height-unit: calc(2 * var(--thumbnail-height-unit) + var(--thumbnail-gutter));
                    }

                    width: var(--width-unit);
                    height: var(--height-unit);
                }

                .thumbnail {
                    float: left;
                    margin-bottom: var(--thumbnail-gutter);
                    opacity: 1;
                    transition-property: opacity, width;
                    transition-duration: 1;

                    &.hidden {
                        opacity: 0;
                        width: 0;
                    }

                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;

                        img {
                            object-fit: cover;
                            object-position: center center;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    &.menu-open {
        header {
            h2 {
                opacity: var(--menu-open-opacity);
            }
        }

        div#page {
            opacity: var(--menu-open-opacity);
        }

        footer {
            opacity: var(--menu-open-opacity);
        }
    }

    /* Footer */

    footer {
        color: var(--secondary-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem 1.5rem;
        transition-property: opacity;
        transition-duration: 0.5s;
        gap: 0.5rem;

        span.copyright {
            font-style: italic;
        }
    }
}
