@import "_fonts.scss";
@import "_animations.scss";

@-ms-viewport {
    width: device-width;
}

:root {
    --logo: url("/images/logo.svg");

    --main-color-light: #e85a33;
    --secondary-color-light: #edff00;
    --background-color-light: #f8d0ca;

    --main-color-dark: #f8d0ca;
    --secondary-color-dark: #edff00;
    --background-color-dark: #e85a33;

    --main-color-white: #111232;
    --secondary-color-white: #e85a33;
    --background-color-white: #ffffff;

    --header-height: 200px;
    --header-size: 1;
    --menu-open-opacity: 5%;

    --thumbnail-font-size: 1;
    --thumbnail-width-unit: 500px;
    --thumbnail-height-unit: 380px;
    --thumbnail-gutter: 16px;
    --thumbnail-overlay-main-color: #e85a33;
    --thumbnail-overlay-background-color: rgba(238, 255, 0, 0.904);

    @media screen and (min-width: 641px) and (max-width: 1200px) {
        --minimum-page-margin: 0;
        --header-size: 0.75;
        --thumbnail-font-size: 0.9;
        --thumbnail-width-unit: 280px;
        --thumbnail-height-unit: 212px;
        --thumbnail-gutter: 8px;
    }

    @media screen and (max-width: 640px) {
        --minimum-page-margin: 0;
        --header-size: 0.5;
        --thumbnail-font-size: 0.75;
        --thumbnail-width-unit: 160px;
        --thumbnail-height-unit: 120px;
        --thumbnail-gutter: 4px;
    }

    --page-margin: 100px;
}

html {
    scroll-behavior: smooth;
}

body {
    --main-color: var(--main-color-light);
    --secondary-color: var(--secondary-color-light);
    --background-color: var(--background-color-light);
    --main-color-reverse: var(--main-color-dark);
    --secondary-color-reverse: var(--secondary-color-dark);
    --background-color-reverse: var(--background-color-dark);

    &.white {
        --main-color: var(--main-color-white);
        --secondary-color: var(--secondary-color-white);
        --background-color: var(--background-color-white);
        --main-color-reverse: var(--main-color-light);
        --secondary-color-reverse: var(--secondary-color-light);
        --background-color-reverse: var(--background-color-light);
    }

    /*font-family: var(--main-font);*/
    font-family: halyard-micro, sans-serif;
    font-weight: 400;
    font-style: normal;

    color: var(--main-color);
    background-color: var(--background-color);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    opacity: 0;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    animation: 2s ease-in-out 0s appear;
    animation-fill-mode: forwards;

    /* General */

    a {
        text-decoration: none;
        outline: none;
        color: inherit;

        &:hover {
            color: white;
        }
    }

    /* Header */

    header {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: calc(var(--header-height) * var(--header-size));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        transition-property: top, color, background-color;
        transition-duration: 0.25s;
        transition-timing-function: ease;
        background-color: transparent;

        a#logo {
            margin: 0;
            width: auto;
            height: 100%;
            background-image: var(--logo);
            background-size: contain;
            background-position: left center;
            background-repeat: no-repeat;

            &:after {
                content: "carolyne fabre";
                font-size: 150%;
                visibility: hidden;
            }
        }

        /* Header - Menu */

        #menu {
            flex: 1;
            display: flex;
            flex-direction: row;
            text-transform: lowercase;
            gap: 3em;
            font-size: x-large;
            font-weight: 200;

            ul {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                margin: 0;
                padding: 0;
                align-items: center;
                justify-content: right;
                gap: 1em;

                a.current {
                    text-decoration: underline;
                }

                &.pages {
                    flex: 1;
                }

                &.social {
                    gap: 0.5em;
                    margin-right: 1em;
                }
            }

            @media screen and (max-width: 1200px) {
                position: fixed;
                display: flex;
                left: 0;
                right: 0;
                top: calc(var(--header-height) * var(--header-size));
                bottom: 0;
                flex-direction: column;
                transform: translate(100%);
                transition: transform 0.25s;

                ul {
                    flex-direction: column;
                    justify-content: center;

                    &.social {
                        flex-direction: row;
                        justify-content: center;
                        margin-right: 0;
                        margin-bottom: 1em;
                    }
                }
            }
        }

        a#menu-toggle {
            display: none;

            @media screen and (max-width: 1200px) {
                display: flex;
                font-size: calc(600% * var(--header-size));
                min-width: var(--minimum-page-margin);
                height: calc(var(--header-height) * var(--header-size));
                align-items: center;
                transition-property: top;
                transition-duration: 0.25s;
                transition-timing-function: ease;
                text-align: center;

                &:hover {
                    color: var(--secondary-color-reverse);
                    text-decoration: none;
                }

                &::after {
                    width: 100%;
                    height: 100%;
                    padding: 0 1.5rem;
                    content: "≡";
                }
            }
        }
    }

    &.menu-open {
        header {
            @media screen and (max-width: 1200px) {
                #menu {
                    transform: translate(0%);
                }
            }

            a#menu-toggle {
                &::after {
                    content: "✖";
                }
            }
        }
    }

    &.scroll-past-header {
        /* Move the header up when we scrolled past it */
        header {
            top: calc(-1 * var(--header-height) * var(--header-size));
        }
    }

    /* Page */

    div#page {
        flex: 1;
        position: relative;
        margin-top: calc(var(--header-height) * var(--header-size));
        margin-left: var(--page-margin);
        margin-bottom: 0;
        margin-right: var(--page-margin);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        transition-property: opacity;
        transition-duration: 0.5s;
        overflow: auto;

        div#thumbnails-container {
            padding: 0 1rem;
            min-height: calc(100vh - var(--header-height) * 2);

            nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    overflow-x: auto;
                    list-style-type: none;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    padding: 0;
                    gap: 0rem 1rem;
                    font-weight: 100;
                    font-size: 120%;

                    li {
                        display: inline-block;

                        a {
                            padding-top: 1rem;
                            display: inline-block;
                            width: 100%;
                            text-transform: lowercase;
                            text-align: center;
                            white-space: nowrap;

                            &.current {
                                text-decoration: underline;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            div.thumbnails {
                margin: 2rem auto;

                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }

                .thumbnails-sizer,
                .thumbnail {
                    --width-unit: var(--thumbnail-width-unit);
                    --height-unit: var(--thumbnail-height-unit);

                    &.thumbnail-w2 {
                        --width-unit: calc(2 * var(--thumbnail-width-unit) + var(--thumbnail-gutter));
                    }

                    &.thumbnail-h2 {
                        --height-unit: calc(2 * var(--thumbnail-height-unit) + var(--thumbnail-gutter));
                    }

                    width: var(--width-unit);
                    height: var(--height-unit);
                }

                .thumbnail {
                    float: left;
                    margin-bottom: var(--thumbnail-gutter);

                    &.hidden {
                        display: none;
                    }

                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        position: relative;

                        img {
                            object-fit: cover;
                            object-position: center center;
                            width: 100%;
                            height: 100%;
                        }

                        div.overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            opacity: 0;
                            background: var(--thumbnail-overlay-background-color);
                            color: var(--thumbnail-overlay-main-color);
                            transition-property: opacity;
                            transition-duration: 0.3s;
                            transition-timing-function: ease;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            font-size: calc(100% * var(--thumbnail-font-size));

                            h3 {
                                font-size: calc(150% * var(--thumbnail-font-size));
                            }
                        }

                        &:hover {
                            div.overlay {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        div.page-layout {
            text-align: center;
            padding: 0 1rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            gap: 2rem;

            @media screen and (max-width: 1200px) {
                font-size: 80%;
                flex-direction: column;
            }

            a {
                font-style: italic;
                transition-property: color, background-color;
                transition-timing-function: ease;
                transition-duration: 0.25s;

                &:focus {
                    color: var(--main-color-dark);
                    background-color: var(--background-color-dark);
                }
            }

            div.side {
                display: flex;
                flex-direction: row;
                flex: 1;

                > img {
                    display: block;
                    max-width: 600px;
                    margin-left: 200px;
                }

                article h1.side {
                    display: none;
                }

                @media screen and (max-width: 1200px) {
                    > img {
                        display: none;
                    }

                    article h1.side {
                        display: block;
                    }
                }
            }

            article {
                flex: 1;
                font-size: 125%;
                width: 100%;

                img.portrait {
                    max-width: calc(min(600px, 100vw) - 4rem);
                    object-fit: contain;
                }

                h1 {
                    margin-top: 0;
                    font-size: 300%;
                }

                iframe#contact {
                    display: block;
                    width: 100%;
                    min-height: 800px;
                }

                @media screen and (max-width: 1200px) {
                    iframe#contact {
                        min-height: 1000px;
                    }
                }
            }

            h2.categories {
                span {
                    margin: 0 0.5rem 0 0;
                    padding: 0;
                }
            }
        }

        div.images-list {
            margin-top: 2rem;
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: start;

            a {
                display: block;
                line-height: 0;

                &:focus {
                    outline: black solid 2px;
                }

                div.video {
                    padding-top: 56.25%;
                    position: relative;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        background-color: black;
                    }
                }

                img {
                    max-width: 100%;
                }
            }
        }
    }

    &.menu-open {
        overflow: hidden;

        header {
            h2 {
                opacity: var(--menu-open-opacity);
            }
        }

        div#page {
            opacity: var(--menu-open-opacity);
        }

        footer {
            opacity: var(--menu-open-opacity);
        }
    }

    /* Footer */

    footer {
        color: var(--secondary-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem 1.5rem;
        transition-property: opacity;
        transition-duration: 0.5s;
        gap: 0.5rem;

        span.copyright {
            font-style: italic;
        }
    }
}
