ul.picture-list > li {
    display: inline-block;
    max-width: 250px;
}

ul.picture-list > li > figure {
    display: inline-block;
}

ul.picture-list > li > figure > img {
    width: 100;
    height: auto;
    border: 1px solid gray;
}

ul.picture-list > li > figure:hover > img {
    width: 100;
    height: auto;
    border: 1px solid black;
}

ul.picture-list > li > figure > figcaption {
    text-align: center;
    color: gray;
    font-style: italic;
    margin: .5em 0;
}