{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=" author" content="{{ config.extra.author }}">
    <meta name="description" content="{{ config.extra.description }}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path='css/font-awesome.css', trailing_slash=false) }}">

    <script type="text/javascript" src="{{ get_url(path='js/masonry.pkgd.min.js', trailing_slash=false) }}"></script>
    <script type="text/javascript"
        src="{{ get_url(path='js/imagesloaded.pkgd.min.js', trailing_slash=false) }}"></script>
</head>

<body class="{% block body_class %}{% endblock body_class %}">
    {% block menu %}
    <nav id="menu">
        <ul>
            <li><a href="/">Accueil</a></li>
            {% set root_section = get_section(path="_index.md") %}
            {% for page in root_section.pages %}
            <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>

        <div class="social">
            <a href="{{ config.extra.linkedin_url }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="{{ config.extra.instagram_url }}" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </nav>
    <a id="menu-toggle" href=""></a>
    {% endblock menu %}

    {% block header %}
    <header>
        <a href="/"></a>
    </header>
    {% endblock header %}

    <div id="page">
        {% block page %}
        <div id="watermark">
            <h1>ALLÔ&#8239;! VOICI<br />MON PORT&shy;fOLIO</h1>
        </div>

        <div id="categories">
            <ul>
                {% set categories = config.extra.featured_categories %}
                {% for category in categories %}
                <li><a href="#{{ category | slugify }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="categories-detail">
            <nav>
                <ul>
                    <li>
                        <a id="all" class="route" href="#all">tous</a>
                    </li>

                    {% set categories = get_taxonomy(kind="categories") %}
                    {% for category in categories.items %}
                    <li>
                        <a id="{{ category.slug }}" class="route" href="#{{ category.slug }}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="thumbnails">
                <div class="thumbnails-sizer"></div>
                {% set assets = get_section(path="assets/_index.md") %}
                {% for asset in assets.pages | reverse %}
                <div class="thumbnail thumbnail-w{{ asset.extra.width | default(value=1) }} thumbnail-h{{ asset.extra.height | default(value=1) }}"
                    data-category="{% for category in asset.taxonomies.categories %}{{ category | slugify }}{% if not loop.last %},{% endif %}{% endfor %}">
                    <a href="{{ asset.permalink }}" title="{{ asset.description }}">
                        <img src="{{ macros::image_url(root=asset.path, url=asset.extra.image_urls[0]) }}"
                            alt="{{ asset.description }}">
                        <div class="overlay">
                            <h3>{{ asset.title }}</h3>
                            <p>{{ asset.taxonomies.categories | sort | join(sep=' – ') | safe }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock page %}
    </div>

    {% block footer %}
    <footer>
        <span class="copyright">&copy; Carolyne Fabre 2022</span>
        &ndash;
        <a href="{{ config.extra.linkedin_url }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="{{ config.extra.instagram_url }}" target="_blank"><i class="fab fa-instagram"></i></a>
    </footer>
    {% endblock footer %}

    {% block scripts %}
    <script type="text/javascript" src="{{ get_url(path='js/nav.js', trailing_slash=false) }}"></script>
    <script type="text/javascript" src="{{ get_url(path='js/invert.js', trailing_slash=false) }}"></script>
    <script type="text/javascript" src="{{ get_url(path='js/thumbnails.js', trailing_slash=false) }}"></script>
    <script type="text/javascript" src="{{ get_url(path='js/routing.js', trailing_slash=false) }}"></script>
    {% endblock scripts %}
</body>

</html>