{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=" author" content="{{ config.extra.author }}">
    <meta name="description" content="{{ config.extra.description }}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path='css/font-awesome.css', trailing_slash=false) }}">

    <script type="text/javascript" src="{{ get_url(path='js/masonry.pkgd.min.js', trailing_slash=false) }}"></script>
    <script type="text/javascript"
        src="{{ get_url(path='js/imagesloaded.pkgd.min.js', trailing_slash=false) }}"></script>
</head>

<body class="{% block body_class %}{% endblock body_class %}">
    {% block menu %}
    <nav id="menu">
        <ul>
            <li><a href="/">Accueil</a></li>
            {% set root_section = get_section(path="_index.md") %}
            {% for page in root_section.pages %}
            <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>

        <div class="social">
            <a href="{{ config.extra.linkedin_url }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="{{ config.extra.instagram_url }}" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </nav>
    <a id="menu-toggle" href=""></a>
    {% endblock menu %}

    {% block header %}
    <header>
        <a href="/"></a>
    </header>
    {% endblock header %}

    <div id="page">
        {% block page %}
        <div id="watermark">
            <h1>ALLÔ&#8239;! VOICI<br />MON PORT&shy;fOLIO</h1>
        </div>

        <div id="categories">
            <ul>
                {% set categories = config.extra.featured_categories %}
                {% for category in categories %}
                <li><a href="#categories__{{ category | slugify }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {{ macros::thumbnails(section=get_section(path="assets/_index.md"), taxonomy_kind="categories") }}
        {% endblock page %}
    </div>

    {% block footer %}
    <footer>
        <span class="copyright">&copy; Carolyne Fabre 2022</span>
        &ndash;
        <a href="{{ config.extra.linkedin_url }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="{{ config.extra.instagram_url }}" target="_blank"><i class="fab fa-instagram"></i></a>
    </footer>
    {% endblock footer %}

    {% block scripts %}
    <script type="text/javascript" src="{{ get_url(path='js/nav.js', trailing_slash=false) }}"></script>
    <script type="text/javascript" src="{{ get_url(path='js/invert.js', trailing_slash=false) }}"></script>
    <script type="text/javascript" src="{{ get_url(path='js/thumbnails.js', trailing_slash=false) }}"></script>
    {% endblock scripts %}
</body>

</html>