<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="{{ config.extra.author }}">
    <meta name="description" content="{{ config.extra.description }}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path='css/font-awesome.css', trailing_slash=false) }}">
</head>

<body>
    {% block header %}
    <header>
        <h2>carolyne<br />fabre</h2>

        <nav>
            <a class="toggle" href="#"></a>
            <ul>
                <li>accueil</li>
                <li>à propos</li>
                <li>contact</li>
            </ul>
        </nav>
    </header>
    {% endblock header %}

    {% block page %}
    <div id="page">
        <h1 id="watermark">ALLÔ&#8239;! VOICI<br />MON PORT&shy;fOLIO</h1>
    </div>
    {% endblock page %}

    {% block footer %}
    <footer>
        <p>
            <span class="copyright">&copy; Carolyne Fabre 2022</span>
            &ndash;
            <a href="{{ config.extra.linkedin_url }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="{{ config.extra.instagram_url }}" target="_blank"><i class="fab fa-instagram"></i></a>
        </p>
    </footer>
    {% endblock footer %}

    {% block scripts %}
    <script type="text/javascript" src="{{ get_url(path='js/nav.js', trailing_slash=false) }}" />
    {% endblock scripts %}
</body>

</html>