{% macro image_url(root, url, height=0, width=0) %}
{% if url is starting_with('http') %}
{{ url }}
{% else %}
{% set path = root ~ url %}
{% if height %}
{% set image = resize_image(path=path, height=height, op="fit_height") %}
{{ image.url }}
{% elif width %}
{% set image = resize_image(path=path, width=width, op="fit_width") %}
{{ image.url }}
{% else %}
{{ "/" ~ path }}
{% endif %}
{% endif %}
{% endmacro %}

{% macro resolve_aliases(taxonomy, name) %}
{% if taxonomy == "softwares" %}
{{ config.extra.software_aliases | get(key=name, default=name) }}
{% else %}
{{ name }}
{% endif %}
{% endmacro %}

{% macro thumbnails(section, taxonomy_kind) %}
<div id="thumbnails-container">
	<nav>
		<ul>
			<li>
				<a id="all" class="route" href="#all">tous</a>
			</li>

			{% set taxonomy = get_taxonomy(kind=taxonomy_kind) %}
			{% for item in taxonomy.items %}

			{% set_global has_item = false %}
			{% for page in section.pages %}
			{% set taxonomies = page.taxonomies | get(key=taxonomy_kind) %}
			{% if taxonomies is containing(item.name) %}
			{% set_global has_item = true %}
			{% break %}
			{% endif %}
			{% endfor %}

			{% if has_item %}
			<li>
				<a id="{{ taxonomy_kind }}__{{ item.slug }}" class="route"
					href="#{{ taxonomy_kind }}__{{ item.slug }}">{{ item.name }}</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</nav>
	<div class="thumbnails">
		<div class="thumbnails-sizer"></div>
		{% set assets = "assets/images/" %}
		{% for page in section.pages | reverse %}
		<div class="thumbnail thumbnail-w{{ page.extra.width | default(value=1) }} thumbnail-h{{ page.extra.height | default(value=1) }}"
			{% for taxonomy_kind, taxonomies in page.taxonomies %} {% if taxonomies %} data-{{ taxonomy_kind
			}}="{% for taxonomy in taxonomies %}{{ taxonomy | slugify }}{% if not loop.last %},{% endif %}{% endfor %}"
			{% endif %}{% endfor %}>

			<a href="{{ page.permalink }}" title="{{ page.description }}">
				<img src="{{ macros::image_url(root=assets, url=page.extra.image_urls[0], height=380) }}"
					alt="{{ page.description }}">
				<div class="overlay">
					<h3>{{ page.title }}</h3>
					<p>{{ page.taxonomies | get(key=taxonomy_kind) | sort | join(sep=' – ') | safe
						}}</p>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endmacro %}