{% macro image_url(root, url, height=0, width=0) %}
{% if url is starting_with('http') %}
{{ url }}
{% else %}
{% set path = root ~ url %}
{% if height and width %}
{% set image = resize_image(path=path, width=width, height=height, op="fit") %}
{{ image.url }}
{% elif height %}
{% set image = resize_image(path=path, height=height, op="fit_height") %}
{{ image.url }}
{% elif width %}
{% set image = resize_image(path=path, width=width, op="fit_width") %}
{{ image.url }}
{% else %}
{{ "/" ~ path }}
{% endif %}
{% endif %}
{% endmacro %}

{% macro resolve_aliases(taxonomy, name) %}
{% if taxonomy == "softwares" %}
{{ config.extra.software_aliases | get(key=name, default=name) }}
{% else %}
{{ name }}
{% endif %}
{% endmacro %}

{% macro thumbnails(section, taxonomy_kind) %}
<div id="thumbnails-container">
	<div class="thumbnails">
		<div class="thumbnails-sizer"></div>
		{% set assets = "assets/images/" %}
		{% for page in section.pages | reverse %}
		<div class="thumbnail thumbnail-w{{ page.extra.width | default(value=1) }} thumbnail-h{{ page.extra.height | default(value=1) }}"
			{% for taxonomy_kind, taxonomies in page.taxonomies %} {% if taxonomies %} data-{{ taxonomy_kind
			}}="{% for taxonomy in taxonomies %}{{ taxonomy | slugify }}{% if not loop.last %},{% endif %}{% endfor %}"
			{% endif %}{% endfor %}>

			<a href="{{ page.permalink }}" title="{{ page.description }}">
				{% set direct_image_url = page.extra.image_urls[0] %}
				{% if direct_image_url is ending_with('.gif') %}
				<img src="{{ macros::image_url(root=assets, url=direct_image_url) }}" alt="{{ page.description }}">
				{% else %}
				<img src="{{ macros::image_url(root=assets, url=direct_image_url, height=760) }}"
					alt="{{ page.description }}">
				{% endif %}
				<div class="overlay">
					<h3>{{ page.title }}</h3>
					<p>{{ page.taxonomies | get(key=taxonomy_kind) | sort | join(sep=' – ') | safe
						}}</p>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endmacro %}