{% extends "index.html" %}

{% block page %}
<div class="page-layout">
	<article>
		<h1>{{ page.title }}</h1>
		{{ page.content | safe }}
	</article>
	<div class="info">
		{% for taxonomy in config.extra.featured_taxonomies %}
		{% set items = page.taxonomies | get(key=taxonomy, default=[]) %}
		{% if items %}
		{% if items | length == 1 %}
		{% set plural = 0 %}
		{% else %}
		{% set plural = 1 %}
		{% endif %}

		<h2>{{ config.extra.taxonomies_titles[taxonomy][plural] }}</h2>
		<ul>
			{% for item in items %}
			<li><a href="{{ get_taxonomy_url(kind=taxonomy, name=item) }}" title="{{ macros::resolve_aliases(taxonomy=taxonomy,
					name=item) }}">{{ item }}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endfor %}
	</div>
</div>
<div class="images-list">
	{% for image in page.extra.image_urls %}
	{% set page_image_url = macros::image_url(root="assets/", url=image, width=1600) %}
	{% set direct_image_url = macros::image_url(root="assets/", url=image) %}
	<a href="{{ direct_image_url }}" target="_blank">
		{% if image is starting_with('https://player.vimeo.com/video/') %}
		<div class="video">
			<iframe src="{{ image }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"></iframe>
		</div>
		{% else %}
		<img src="{{ page_image_url }}" alt="{{ page.title }}">
		{% endif %}
	</a>
	{% endfor %}
</div>
{% endblock page %}

{% block scripts %}
<script type="text/javascript" src="{{ get_url(path='js/nav.js', trailing_slash=false) }}"></script>
{% endblock scripts %}