{% extends "index.html" %}

{% block page %}
<!-- Should be: `taxonomy.permalink`. See: https://github.com/getzola/zola/issues/1627 -->
{% set full_taxonomy = get_taxonomy(kind=taxonomy.name) %}
<h1 class="taxonomy">Liste des œuvres par <a href="{{ full_taxonomy.permalink }}">{{
		config.extra.taxonomies_titles[taxonomy.name].0 | lower }}</a>
	&mdash; {{
	macros::resolve_aliases(taxonomy=taxonomy.name, name=term.name) }}</h1>
{{ macros::thumbnails(section=term, taxonomy_kind="year") }}
{% endblock page %}

{% block scripts %}
<script type="text/javascript" src="{{ get_url(path='js/nav.js', trailing_slash=false) }}"></script>
<script type="text/javascript" src="{{ get_url(path='js/thumbnails.js', trailing_slash=false) }}"></script>
{% endblock scripts %}